#!/usr/bin/env bash

#Path inside the server where the script will checkout your git branch or tag.
_DEPLOY_APP_SERVER_DIR=""

#SSH server address.
_DEPLOY_SERVER=""

# List of folders to access.
_DEPLOY_FOLDERS=""

#Your local repository full path.
_DEPLOY_PROJECT_DIR=""
